{% extends "base.html" %}

{% block content %}

<ul>
    <h1>Run SAS Script for {{ sas_account.username }}</h1>

    <form method="post">
        {% csrf_token %}
        
        <label for="filename">Select SAS File:</label>
        <select id="filename" name="filename" required>
            {% for file in sas_files %}
                <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Run Script</button>
    </form>
</ul>

{% endblock %}