{% extends "base.html" %}

{% block content %}

<ul>
    <h1>Run SAS Script for {{ sas_account.username }}</h1>

    <form method="post">
        {% csrf_token %}
        
        <label for="filenames">Select SAS or CSV Files:</label>
        <select id="filenames" name="filenames" multiple required>
            {% for file in all_files %}
                <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Run Script</button>
    </form>
</ul>

{% endblock %}